
[submodule "env/.config/nvim"]
	path = env/.config/nvim
	url = https://github.com/LeonardoGuarilha/nvim.git
[submodule "tmux-sessionizer"]
	path = tmux-sessionizer
	url = https://github.com/LeonardoGuarilha/tmux-sessionizer.git
